<template>
  <div>
    <div class="player">
      <videoplayer
        v-if="ready"
        :id="video.id"
        :title="video.title"
        width="100%"
        aspect-ratio="16:9"
        :poster="poster"
        :formats="video.formats"
        skin="nos"
        :geo-protected="video.geoprotection"
        :pre-roll-url="preRollUrl"
        :duration="video.duration"
      />
      <div class="caption">
        <span class="title">
          {{ video.title }}
        </span>
        <span
          v-if="video.geoprotection"
          class="geoprotected"
        >
          Deze video is alleen in Nederland te bekijken.
        </span>
      </div>
    </div>
    <div class="player">
      <videoplayer
        v-if="ready"
        :id="videoGeo.id"
        :title="videoGeo.title"
        width="100%"
        aspect-ratio="16:9"
        :poster="posterGeo"
        :formats="videoGeo.formats"
        skin="nos"
        :geo-protected="videoGeo.geoprotection"
        :pre-roll-url="preRollUrl"
        :duration="videoGeo.duration"
      />
      <div class="caption">
        <span class="title">
          {{ videoGeo.title }}
        </span>
        <span
          v-if="videoGeo.geoprotection"
          class="geoprotected"
        >
          Deze video is alleen in Nederland te bekijken.
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { Videoplayer, transformPreRollUrl } from '@nosnl/player';
import videoGeo from './video-geo-protected.json';
import video from './video.json';

export default {
  name: 'App',
  components: {
    Videoplayer,
  },
  data() {
    return {
      videoGeo,
      video,
      preRollUrl: '',
      ready: false,
    };
  },
  computed: {
    poster() {
      // Replace with image find in the renderer.
      return this.video.image.formats[6].url.jpg;
    },
    posterGeo() {
      return this.videoGeo.image.formats[6].url.jpg;
    }
  },
  created() {
    /**
     * Get the preroll url from the transformed adconfig url.
     * If there is no pre_roll url available it will still resolve.
     */
    const preRollUrl = transformPreRollUrl(this.video.pre_rolls.ad_config, false, 'nos', 1200);
    fetch(preRollUrl)
      .then(response => response.json()).then((json) => {
        this.preRollUrl = json.adUrl;
        this.ready = true;
      }).catch(() => {
        this.ready = true;
      });
  },
};
</script>

<style>

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .player {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .caption {
    font-size: 1em;
    line-height: 1.44;
    padding: 0.88em 1em;
    border-left: 1px solid #e3e3e3;
  }

  .title {
    font-size: 0.88em;
    font-weight: 400;
    line-height: 1.5;
  }

  .geoprotected {
    display: block;
    margin-top: 0.33em;
    font-size: 0.78em;
  }

</style>
